.goBack {
    display: block;
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: transparent;

}

.goBack:hover {
    background-color: rgb(255, 103, 103);
    color: #fff;
}

.details {
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;

    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5)
}

.poster {
    width: 250px;
    height: 350px;
}

.info {
    margin-left: 10px;
    max-width: 600px;
}

.moreInfo {
    padding-left: 10px;
    padding-bottom: 10px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5)
}

.castReviews {
    margin: 0;
}

.review {
    padding-left: 10px;
}