.form {
    margin: 10px;
}

.input {
    display: inline-block;
    margin-right: 5px;
    width: 250px;
    height: 30px;
    outline: none;
}

.input:hover {
    border: 3px solid rgb(255, 103, 103);
}

.button {
    display: inline-block;
    width: 55px;
    height: 30px;
    cursor: pointer;
}